<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Polygon</title>
    {% load staticfiles %}
    {% load static %}
    <script type="text/javascript" src="{% static 'js/polygon.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tests.js' %}"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function(){
            document.getElementById('canvas-main').addEventListener("click", canvasClickEvent);
            renderPolygon();
        })
    </script>
    <style>
        canvas#canvas-main {
            border: 1px solid darkgray;
        }
    </style>
</head>
<body>
    <h1>Проверка вхождения точки в произвольный (не выпуклый) полигон.</h1>
    <p>
        <button onclick="testVertices()">Все вершины</button>
        <button onclick="testEdges()">Все ребра</button>
        <button onclick="testEdgeOrVertexOnRay()">Луч через вершины и ребра</button>
        <button onclick="clearCanvas()">Очистить</button>
    </p>
    <canvas id="canvas-main"></canvas>
</body>
</html>